<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <link rel="preload" href="https://fonts.googleapis.com" />
    <link rel="preload" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/views/editprofile.css" />
    <title>회원정보 수정</title>
  </head>
  <div class="withdraw_modal">
    <div class="modal_popup">
      <div class="withdrawtxt">회원탈퇴 하시겠습니까?</div>
      <p>작성된 게시글과 댓글은 삭제됩니다.</p>
      <div class="modal_btn">
        <div class="btn_wrap">
          <button
            type="button"
            class="close_btn"
            onclick="withdraw_modalClose()"
          >
            취소
          </button>
          <button type="button" class="ok_btn" onclick="withdraw_modalOk()">
            확인
          </button>
        </div>
      </div>
    </div>
  </div>
  <body>
    <div class="top">
      <div class="topbox">
        <div class="btnwrap hide">
          <button type="button" onclick="history.back();" class="toparrow">
            <img class="arrow" src="/views/images/arrow.png" />
          </button>
        </div>
        <button class="topname" onclick="goto_list()">고민이 먼지</button>
        <!-- <button type="button" class="dropdown_btn">
                <img class="profile" src="/views/images/profileimg.png">
            </button> -->
        <div class="dropdown">
          <button class="dropdown_btn" id="dropdown_btn">
            <img
              class="profile"
              id="profile"
              src="/views/images/profileimg.png"
            />
          </button>
          <div class="dropdown_options" id="dropdown_op">
            <button type="button" class="go_btn" id="go_editprofile_btn">
              회원정보수정
            </button>
            <button type="button" class="go_btn" id="go_editpwd_btn">
              비밀번호수정
            </button>
            <button type="button" class="go_btn" id="go_login_btn">
              로그아웃
            </button>
          </div>
        </div>
      </div>
    </div>
    <hr
      style="
        width: 100%;
        height: 1px;
        background-color: black;
        border: 0px;
        margin: 0px;
      "
    />
    <div class="wrap">
      <div class="pagetextbox">
        <div class="pagetext">회원정보수정</div>
        <div class="profileimg_text">프로필 사진*</div>
        <div class="box">
          <div class="image">
            <img
              class="profileimg"
              id="back_profile"
              src="/views/images/profileimg.png"
            />
            <div class="filebox">
              <label for="change">변경</label>
              <input type="file" id="change" accept="image/*" onchange="modify_profile(this)" />
            </div>
          </div>
        </div>
      </div>
      <form method="get" class="info" id="editprofile_box">
        <!-- <h4 class="logintext">이메일*</h4>
            <div class="email">wendy00@naver.com</div>
            <h4 class="logintext">닉네임*</h4>
            <input type="name" placeholder="닉네임" value="wendy" class="inlogin" id="nickname_input">
            <h6 class="helptext" id="help_edit">* helper text</h6>
            <input type="button" value="수정하기" class="editprofile" id="edit_btn" onclick="submit_edit()">
            <input type="button" value="회원 탈퇴" class="withdraw" id="withdraw"> -->
      </form>
      <div id="tost_message">수정완료</div>
    </div>
    <script src="/views/editprofile.js"></script>
  </body>
</html>
