<!-- <!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <link rel="preload" href="https://fonts.googleapis.com" />
    <link rel="preload" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/views/joinmember.css" />
    <title>회원가입</title>
  </head>
  <body>
    <div class="top">
      <div class="topbox">
        <div class="btnwrap">
          <button type="button" onclick="history.back();" class="toparrow">
            <img class="arrow" src="/views/images/arrow.png" />
          </button>
        </div>
        <div class="topname">고민이 먼지</div>
        <div class="dropdown hide">
          <button class="dropdown_btn" id="dropdown_btn">
            <img class="profile" src="/views/images/profileimg.png" />
          </button>
          <div class="dropdown_options" id="dropdown_op">
            <button type="button" class="go_btn" id="go_editprofile_btn">
              회원정보수정
            </button>
            <button type="button" class="go_btn" id="go_editpwd_btn">
              비밀번호수정
            </button>
            <button type="button" class="go_btn" id="go_login_btn">
              로그아웃
            </button>
          </div>
        </div>
      </div>
    </div>
    <hr
      style="
        width: 100%;
        height: 1px;
        background-color: black;
        border: 0px;
        margin: 0px;
      "
    />
    <div class="wrap">
      <div class="uploadimg">
        <div class="pagetext">회원가입</div>
        <div class="profile_upload">
          <div class="profileimg_text">프로필 사진</div>
          <div class="helptext" id = profile_help>helpertext</div>
          <div class="writer">
            <div class="boxchange">
              <img src="/views/images/plus.png" class="profileimg"  />
              <div class="filebox">
                <label for="change"></label
                ><input
                  type="file" id="change" accept="image/*" onchange="allcheck()"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <form method="get" class="info">
        <h4 class="logintext">이메일*</h4>
        <input
          type="email"
          placeholder="이메일을 입력하세요"
          class="inlogin"
          id="email"
          onchange="allcheck()"
        />
        <h6 class="helptext" id="help_email">*helper text</h6>
        <h4 class="logintext">비밀번호*</h4>
        <input
          type="password"
          placeholder="비밀번호를 입력하세요"
          class="inlogin"
          id="pwd"
          onchange="allcheck()"
        />
        <h6 class="helptext" id="help_pwd">* helper text</h6>
        <h4 class="logintext">비밀번호 확인*</h4>
        <input
          type="password"
          placeholder="비밀번호를 한번 더 입력하세요"
          class="inlogin"
          id="checkpwd"
          onchange="allcheck()"
        />
        <h6 class="helptext" id="help_checkpwd">* helper text</h6>
        <h4 class="logintext">닉네임*</h4>
        <input
          type="name"
          placeholder="닉네임을 입력하세요"
          class="inlogin"
          id="name"
          onchange="allcheck()"
        />
        <h6 class="helptext" id="help_name">* helper text</h6>
        <input
          type="button"
          value="회원가입"
          class="submitprofile"
          id="submit_btn"
          disabled
          onclick="join()"
        />
        <div class="back"><a href="/login">로그인하러 가기</a></div>
      </form>
    </div>
    <script src="/views/joinmember.js"></script>
  </body>
</html> -->
<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <link rel="preload" href="https://fonts.googleapis.com" />
    <link rel="preload" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/views/joinmember.css" />
    <title>회원가입</title>
  </head>
  <body>
    <div class="top">
      <div class="topbox">
        <div class="btnwrap">
          <button type="button" onclick="history.back();" class="toparrow">
            <img class="arrow" src="/views/images/ArrowBlue.png" />
          </button>
        </div>
        <div class="topname">고민이 먼지</div>
        <div class="dropdown hide">
          <button class="dropdown_btn" id="dropdown_btn">
            <img class="profile" src="/views/images/profileimg.png" />
          </button>
          <div class="dropdown_options" id="dropdown_op">
            <button type="button" class="go_btn" id="go_editprofile_btn">
              회원정보수정
            </button>
            <button type="button" class="go_btn" id="go_editpwd_btn">
              비밀번호수정
            </button>
            <button type="button" class="go_btn" id="go_login_btn">
              로그아웃
            </button>
          </div>
        </div>
      </div>
    </div>
    <hr
      style="
        width: 100%;
        height: 1px;
        background-color: black;
        border: 0px;
        margin: 0px;
      "
    />
    <div class="wrap">
      <div class="white-wrap">
      <div class="uploadimg">
        <div class="pagetext">회원가입</div>
        <div class="profile_upload">
          <div class="profileimg_text">프로필 사진*</div>
          <div class="helptext" id="profile_help"></div>
          <div class="writer">
            <div class="boxchange">
              <img src="/views/images/PlusBlue.png" class="profileimg" />
              <div class="filebox">
                <label for="change"></label
                ><input
                  type="file"
                  id="change"
                  accept="image/*"
                  onchange="allcheck()"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <form method="get" class="info">
        <h4 class="logintext">이메일*</h4>
        <input
          type="email"
          placeholder=" 이메일을 입력하세요"
          class="inlogin"
          id="email"
          onchange="allcheck()"
        />
        <h6 class="helptext" id="help_email"></h6>
        <h4 class="logintext">비밀번호*</h4>
        <input
          type="password"
          placeholder=" 비밀번호를 입력하세요"
          class="inlogin"
          id="pwd"
          onchange="allcheck()"
        />
        <h6 class="helptext" id="help_pwd"></h6>
        <h4 class="logintext">비밀번호 확인*</h4>
        <input
          type="password"
          placeholder=" 비밀번호를 한번 더 입력하세요"
          class="inlogin"
          id="checkpwd"
          onchange="allcheck()"
        />
        <h6 class="helptext" id="help_checkpwd"></h6>
        <h4 class="logintext">닉네임*</h4>
        <input
          type="name"
          placeholder=" 닉네임을 입력하세요"
          class="inlogin"
          id="name"
          onchange="allcheck()"
        />
        <h6 class="helptext" id="help_name"></h6>
        <input
          type="button"
          value="회원가입"
          class="submitprofile"
          id="submit_btn"
          disabled
          onclick="join()"
        />
        <div class="back"><a href="/">메인페이지</a></div>
      </form>
    </div>
    </div>
    <script src="/views/joinmember.js"></script>
  </body>
</html>
