/* 폰트 추가 */
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');
@font-face {
    font-family: 'MangoDdobak-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
:root{
    --main-bg-color: #edf6ff;
    --text-color: black;
    --box-bg-color: #ffffff;
    --able-btn-color: #8ab3ff;
    --help-text-color: #ff0000;
    --box-text-color: #ffffff;
    --disabled-btn-color: #c7dbff;
    --gray-bg-color: #d9d9d9;
}
/*모달 팝업 영역 스타일링*/
.post_modal {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.comment_modal{
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.modal_popup {
/*팝업*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 242px;
    width: 408px;
    background: #ffffff;
    border-radius: 12px;    
    text-align: center;
    align-content: center;
}
.deletetxt{
    font-weight: 700;
    font-size: 24px;
    line-height: 28.64px;
}
.modal_popup p{
    font-size: 20px;
    font-weight: 400;
    line-height: 23.87px;
}
.modal_btn{
    display: flex;
    justify-content: center;
}
.btn_wrap{
    display: flex;
    width: 270px;
    justify-content: space-between;
}
.close_btn {
    display: block;
    padding: 0px;
    background-color: #242424;
    border: none;
    border-radius: 12px;
    color: #fff;
    width: 127px;
    height: 44px;
}
.ok_btn {
    display: block;
    padding: 0px;
    background-color: #C4A5FA;
    border: none;
    border-radius: 12px;
    width: 127px;
    height: 44px;
}
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--main-bg-color);
    font-family: "Noto Sans KR", sans-serif;
    margin: 0px;
}
.top{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 104px;
}
.topbox{
    width: 600px;
    display: flex;
    justify-content: center;
}
.btnwrap{
    width: 36px;
    border: 0px;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 133px;
}
.toparrow{
    width: 25px;
    height: 25px;
    border: 0px;
}
.toparrow .arrow{
    width: 100%;
    height: 100%;
}
.topname {
    color: black;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    font-family: 'MangoDdobak-B';
    background-color: var(--main-bg-color);
    border: 0px;
}
.dropdown {
    display: inline-block;
    position: relative;
    align-content: center;
}
.dropdown_btn{
    width: 36px;
    height: 36px;
    padding-top: 36px;
    padding-bottom: 36px;
    margin-left: 136px;
    border: none;
    background-color: var(--main-bg-color);

}
.dropdown_options {
    position: absolute;
    background: #D9D9D9;
    text-align: center;
    width: 115px;
    height: 105px;
    top: 79%;
    left: 31%;
    display: none;
}
.dropdown button{
    height: 35px;
    padding: 10px 24px 10px 24px;
    font-size: 12px;
    line-height: 14.52px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border: 0px;
    width: 100%;
}
.go_btn{
    background: #D9D9D9;
}
.go_btn:hover{
    background-color: #E9E9E9;
}
.profile{
    position: absolute;
    width: 36px;
    height: 36px;
    top: 34%;
    right: 7%;
    border-radius: 50%;
}
.box{
    width: 36px;
    height: 36px;
    padding-top: 36px;
    padding-bottom: 36px;
    margin-left: 136px;
}
.profile_bottom{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.hide{
    visibility: hidden;
}
.wrap{
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;
}
.postwriter{
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;
}
.post_top{
    width: 544px;
}
.title{
    font-size: 24px;
    font-weight: 700;
    line-height: 31.2px;
    text-align: left;
    margin-top: 24px;
}
.sub{
    display: flex;
    margin-top: 12px;
    margin-bottom: 24px;
    justify-content: space-between;
}
.sub_left{
    display: flex;
}
.top_profilebox{
    width: 36px;
}
.writername{
    margin-top: 8px;
    margin-left: 10px;
}
.time{
    margin-top: 9px;
    margin-left: 24px;
}
.editbtn{
    margin-top: 5px;
}
.modify{
    width: 50px;
    height: 27px;
    padding: 2px 12px 2px 12px;
    border-radius: 8px;
    border: 1px solid #c7dbff;
}
.delete{
    width: 50px;
    height: 27px;
    padding: 2px 12px 2px 12px;
    border-radius: 8px;
    border: 1px solid #c7dbff;
}
.middle{
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;
}
.img{
    width: 544px;
    /* height: 306px; */
    margin-top: 24px;
    background-color: var(--gray-bg-color);
}
.text_wrap{
    width: 600px;
    display: flex;
    justify-content: center;
}
.text{
    width: 544px;
    margin-top: 24px;
}
.statbox{
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
}
.stat{
    text-align: center;
    display: flex;
}
.viewcount{
    width: 116px;
    height: 77px;
    border-radius: 16px;
    background-color: var(--gray-bg-color);    
    align-content: center;
    margin-right: 4px;
}
.comment{
    width: 116px;
    height: 77px;
    border-radius: 16px;
    background-color: var(--gray-bg-color);
    align-content: center;
    margin-left: 4px;
}
.bottom{
    display: flex;
    flex-direction: column;
    width: 592px;
}
.writecomment{
    display: flex;
    flex-direction: column;
    background-color: var(--box-bg-color);
    width: 592px;
    height: 169px;
    border-radius: 16px;
    margin-top: 32px;
    margin-bottom: 24px;
}
.commentbox{
    width: 544px;
    height: 94px;
    border: 0px;
    margin: 24px;
    margin-bottom: 8px;
    padding: 0px;
}
textarea::placeholder{
    font-size: 15px;
    font-weight: 400;
    line-height: 21.15px;
    color: var(--text-color);
}
.submitcomment{
    width: 138px;
    height: 39px;
    border-radius: 16px;
    color: var(--box-text-color);
    background-color: var(--disabled-btn-color);
    margin-top: 6px;
    margin-bottom: 6px;
    border: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 25.04px;
    text-align: center;
}
.commented{
    display: flex;
    width: 544px;
    height: 65px;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 16px;
}
.commented_left{
    display: flex;
    flex-direction: column;
}
.commented_profile{
    display: flex;
}
.commented_right{
    display: flex;
    width: 108px;    
    justify-content: space-between;
    align-items: center;
}
.comment_content{
    color: var(--text-color);
    margin-left: 46px;
    font-size: 15px;
    font-weight: 400;
    line-height: 21.15px;
    width: 236px;
    height: 21px;
}
.hide{
    visibility: hidden;
}