<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <link rel="preload" href="https://fonts.googleapis.com">
    <link rel="preload" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/viewlist.css">
    <title>게시글 목록조회</title>
</head>
<body>
    <div class="top">
        <div class="topbox">
            <div class="btnwrap hide">
                <button type="button" onclick="history.back();" class="toparrow">
                    <img class="arrow" src="/views/images/arrow.png">
                </button>
            </div>
            <button class="topname" onclick="goto_list()">아무 말 대잔치</button>
            <div class="dropdown">
                <button class="dropdown_btn" id="dropdown_btn"><img class="profile" id="profile" src="/views/images/profileimg.png"></button>
                <div class="dropdown_options" id="dropdown_op">
                    <button type="button" class="go_btn" id="go_editprofile_btn">회원정보수정</button>
                    <button type="button" class="go_btn" id="go_editpwd_btn">비밀번호수정</button>
                    <button type="button" class="go_btn" id="go_login_btn">로그아웃</button>
                </div>
            </div>
        </div>
    </div>
    <hr style = "width:100%; height:1px; background-color:black; border: 0px; margin: 0px;">
    <div class="wrap" id="post_wrap">
        <div class="explain">안녕하세요,<br>아무 말 대잔치 게시판 입니다.</div>
        <input type="button" value="게시글 작성" class="write" onclick='towrite()' id="postwrite">
        <!-- <div class="listbox" onclick='view()';>
            <div class="writetop">
                <div class="title">제목의길이6를늘려야1하는데이6정도면되1려나?아니6야조금더써야돼</div>
                <div class="num">
                    <div class="num_count"> 좋아요 0 </div>
                    <div class="num_count"> 댓글 0 </div>
                    <div class="num_count"> 조회수 0 </div>
                    <div class="time"> 2021-01-01 00:00:00 </div>
                </div>
            </div>
            <hr style = "width:100%; height:1px; border: 0px; margin: 0px; background-color: black; opacity: 16%;">
            <div class="writer">
                <div class="boxchange"></div>
                <div class="writername">더미 작성자1</div>
            </div>
        </div> -->
    </div>
    <script src="/views/viewlist.js"></script>
</body>